--USE [clinic]
--GO
--/****** Object:  StoredProcedure [dbo].[Create_Account]    Script Date: 05/13/2017 23:13:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--ALTER proc [dbo].[Create_Account] 
--@UserName nvarchar(25),
--@Password nvarchar(25),
--@Type varchar(15),
--@ret_Id int out 
--as
--begin
--insert into dbo.Account 
--(A_UserName,A_Password ,A_AccountType) values (@UserName,@Password,@Type)
--select @ret_Id = SCOPE_IDENTITY();
--end ;

----create proc Add_PersonReturnID
----@Name            nvarchar(50),
----@City            nvarchar(25),
----@Zip_code        int,
----@Birthdate       date, 
----@Phone           nvarchar(20),
----@E_mail          nvarchar(50),
----@Image           image,
----@AdmissionDate   date, 
----@SSN             int ,
----@AccountID     int ,
----@ret_ID  int out 
----as
----begin 
----insert into dbo.Person (P_Name,P_city,P_ZipCode,P_BirthDate,P_Phone,P_Email,P_Image,P_AdmissionDate,P_SSN,P_AccountID)values(@Name, @City, @Zip_code,@Birthdate,@Phone,@E_mail,@Image,@AdmissionDate,@SSN,@AccountID)
----select @ret_ID =SCOPE_IDENTITY();
----end;
